body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/*header section starts*/
.header-section{
    height: 600px;

    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.header-text-content h1{
    color: #EC4C7A;
    font-weight: bold;
    font-size: 50px;
    padding-top: 0;
    margin-top: 0;
}
.header-text-content h2{
    margin-bottom: 0;
    padding-bottom: 0;
    color:black;
    font-weight: 400;
    font-size: 40px;
}
.header-text-content p{
    color: #707070;
    margin-bottom: 30px;
}
.header-text-content{
    margin-top: 50px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.header-text-content a{
    text-decoration: none;
    background-color:#EC4C7A;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.header-image-content{
    padding-top: 50px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header-image-content img{
    width: 80%;
}
/*header section ends*/



/*biography-section-starts*/
.biography-section{
    height: 600px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.biography-image-content{
    padding-top: 40px;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.biography-image-content img{
    width: 80%;
    float: left;
}
.biography-text-content{
    margin-top: 60px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.biography-text-content h2{
    font-weight: 400;
    font-size: 40px;
}
.biography-text-content p{
    margin-bottom: 50px;
    color: #707070;
}
.biography-text-content a{

    text-decoration: none;
    background-color:#EC4C7A;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
/*biography section ends*/



/*lates-work-section-starts*/
.latest-work-section{
    height: 500px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.latest-work-section h1{
    padding-top: 30px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}
.latest-work-content{
    padding-top: 10px;
    width: 80%;
    /*border: 1px solid red;*/
    height: 100%;
    margin-left: 5%;
    padding-left: 4%;

}
.work{
    width: 33.33%;
    float: left;
}
.latest-work-content .work img{
    width: 90%;
}

/*latest work section ends*/



/*footer section starts*/

.footer-section{
    padding-top: 40px;
    height: 600px;
    padding-bottom: 20px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-section h1{
    font-size: 40px;
    text-align: center;
    font-weight: 500;

}
.footer-section h3{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;

}
.footer-section h4{
    font-weight: 300;
    text-align: center;
    color: #707070;

}
.footer-section blockquote{
    padding: 10px 80px;
    text-align: center;
    display: block;
}
.footer-section .quote{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 21px;
}
.footer-section .quote p{
    font-weight: 500;
    color: #333333;
    text-align: center;


}
.footer-section .email{
    padding-top: 8px;
    padding-bottom: 18px;

    width: 40%;
    margin: 0 auto;
    background-color:#EC4E87 ;
    color: white;
}
.footer-section .email h4{
    font-weight: 300;
    color: white;
    text-align: center;
}
.footer-section .email h2{
text-align: center;
}


.extra-section h1{
    font-size: 30px;
    font-weight: 300;
    color: #707070;
}
.social-network-content{
    /*width: 100%;*/
    padding-left: 8%;
    margin-left: 2%;
}
.social-network-content .soical{
    float: left;
    width: 30%;
    height: 100%;


}
.social-network-content .soical a{
    /*height: 100%;*/
    padding: 0;
    height: 100%;
}
.social-network-content .soical img{
    height: 100%;
    width: 40%;
    background-color: white;
    padding-left:23%;
}

.footer-section p{
    clear: both;
    text-align: center;
    color: #707070;
    padding-top: 130px;
    padding-bottom: 40px;
}













