body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*header section starts*/
.header-section{
    height: 600px;

    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.header-text-content h1{
    color: #EC4C7A;
    font-weight: bold;
    font-size: 50px;
    padding-top: 0;
    margin-top: 0;
}
.header-text-content h2{
    margin-bottom: 0;
    padding-bottom: 0;
    color:black;
    font-weight: 400;
    font-size: 40px;
}
.header-text-content p{
    color: #707070;
    margin-bottom: 30px;
}
.header-text-content{
    margin-top: 50px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.header-text-content a{
    text-decoration: none;
    background-color:#EC4C7A;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.header-image-content{
    padding-top: 50px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.header-image-content img{
    width: 80%;
}
/*header section ends*/



/*biography-section-starts*/
.biography-section{
    height: 600px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.biography-image-content{
    padding-top: 40px;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.biography-image-content img{
    width: 80%;
    float: left;
}
.biography-text-content{
    margin-top: 60px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.biography-text-content h2{
    font-weight: 400;
    font-size: 40px;
}
.biography-text-content p{
    margin-bottom: 50px;
    color: #707070;
}
.biography-text-content a{

    text-decoration: none;
    background-color:#EC4C7A;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


